@model EnterpriceWeb.Models.User

@{
    Layout = null;
}

<head>

    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Snippet - GoSNippets</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' />
    <link href="~/css/Login.css" rel="stylesheet" type="text/css" />

</head>
<body oncontextmenu='return false' class='snippet-body'>
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div style="min-height: 269px;" class="panel border bg-white">
                    <div class="panel-heading">
                        <h2 style="border:none;font-size: 24px;" class="pt-3 font-weight-bold form-control">Forget Password</h2>
                    </div>
                    <div class="panel-body p-3">
                        <form asp-controller="Account" asp-action="ForgetPassword" method="post">
                            <div class="form-group py-2">
                                <div class="input-field">
                                    <span class="far fa-user p-2"></span>
                                    <input class="form-control" type="text" placeholder="Gmail" name="gmail" required>
                                </div>
                            </div>
                            <button style="display:contents" class="border-0" type="submit">
                                <div class="btn btn-primary btn-block mt-3">Forget Password</div>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form>
        <div class="modal fade " tabindex="-1" id="responseModal" role="dialog" aria-labelledby="responseModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="flex-flow: column; ">
                        <h4 class="modal-title response_title" id="responseModalLabel"></h4>
                        <h7 class="modal-title response_error"></h7>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary ok" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log('@ViewBag.forgot')
            if ('@ViewBag.forgot' != '') {
                $('#responseModal').modal('show');
                $('.response_title').text("Notification")
                $('.response_error').text('@ViewBag.forgot')

            }
        });

        $(".ok").click(function () {
            $('#responseModal').modal('hide');
        });
    </script>
    <script type='text/javascript'></script>
</body>
