@{
    Layout = null;
}
<!doctype html>
<html>
<head>

    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Snippet - GoSNippets</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css2?family=Poppins&display=swap' />
    <link rel="stylesheet" href="~/css/mdb.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EnterpriceWeb.styles.css" asp-append-version="true" />
    <link href="~/css/Login.css" rel="stylesheet" type="text/css" />

</head>

<body oncontextmenu='return false' class='snippet-body'>
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Login</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form asp-controller="Account" asp-action="Login" method="POST">
                            <div class="form-group py-2">
                                <div class="input-field">
                                    <span class="far fa-user p-2"></span>
                                    <input class="form-control" type="text" placeholder="Gmail" name="gmail" required>
                                </div>
                            </div>
                            <div class="form-group py-1 pb-2">
                                <div class="input-field">
                                    <span class="fas fa-lock px-2"></span>
                                    <input class="form-control" type="password" placeholder="Enter your Password" name="password" required>

                                </div>
                            </div>
                            @if (TempData["erorr"] != null)
                            {
                                <div class="form-group checktype">
                                    <p>@TempData["erorr"]</p>

                                </div>
                            }
                            <div class="d-flex justify-content-between">
                                <div class="form-inline ">
                                    <a href="http://localhost:5154/Account/RegisterGuest" id="forgot" class="font-weight-bold">Register account?</a>
                                </div>
                                <div class="form-inline">
                                    <a href="http://localhost:5154/Account/ForgetPassword/" id="forgot" class="font-weight-bold">Forgot password?</a>
                                </div>
                            </div>
                            <button style="display:contents" class="border-0" type="submit">
                                <div style="width:100%" class="btn btn-primary btn-block mt-3">Login</div>
                            </button>
                            <divb style="margin-top:10px" id="liveAlertPlaceholder"></divb>
                        </form>
                    </div>
                </div>
            </div>

   
            <script type='text/javascript'></script>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script>
                const alertPlaceholder = document.getElementById('liveAlertPlaceholder');

                const appendAlert = (message, type) => {
                    const wrapper = document.createElement('div');
                    wrapper.innerHTML = `
                                                       <div class="alert alert-${type} alert-dismissible" role="alert" style="right: 0; width:  fit-content;">
                                       ${message}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                        `;
                    alertPlaceholder.appendChild(wrapper);
                    setTimeout(() => {
                        wrapper.style.display = 'none';
                    }, 115000);
                };
      
                if ('@ViewBag.LoginSuccess'!='') {
                    appendAlert('@ViewBag.LoginSuccess', 'info');
                }

            </script>

</body>
</html>