@model EnterpriceWeb.Models.Magazine

@{
    ViewData["Title"] = "UpdateMagazine";
    Layout = "_LayoutAdmin";
}

<h1>UpdateMagazine</h1>

<h4>Magazine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateMagazine">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="magazine_id" />
            <div class="form-group">
                <label asp-for="magazine_closure_date" class="control-label">Magazine clousure date</label>
                <input asp-for="magazine_closure_date" class="form-control" />
                <span asp-validation-for="magazine_closure_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="magazine_final_closure_date" class="control-label">Magazine final closure date</label>
                <input asp-for="magazine_final_closure_date" class="form-control" />
                <span asp-validation-for="magazine_final_closure_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="magazine_title" class="control-label">Magazine title</label>
                <input asp-for="magazine_title" class="form-control" />
                <span asp-validation-for="magazine_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="magazine_academic_year" class="control-label">Magazine academic year</label>
                <input asp-for="magazine_academic_year" class="form-control" /> 
                <span asp-validation-for="magazine_academic_year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
